<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Java version test servlet</display-name>
  <description>Shows the java version used for hosting this webapp</description> 
  <servlet>
    <servlet-name>java-version-servlet</servlet-name>
    <servlet-class>org.jerboaa.webapps.JavaVersionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>java-version-servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>